server:
  port: 8080

spring:
  application:
    name: hhplus-ecommerce-gateway

  cloud:
    gateway:
      httpclient:
        connect-timeout: 3000
        response-timeout: 60s
      routes:
        - id: order-service
          uri: ${ORDER_SERVICE_URL:http://order-service:8080}
          predicates:
            - Path=/**

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  endpoint:
    health:
      show-details: always

